# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Installer / Distribution folders
dist/
build/

# Executables and installers
*.exe
*.pkg
*.msi

# System files
*.DS_Store
Thumbs.db

# VS Code
.vscode/

# Others
*.spec
*.ico
